<div>
  <% users.reject {|user| user.email == current_user.email}.each do |u| %>
    <h3><%= u.email %>
      <%= link_to "Supprimer",user_path(u),method: :delete,:data => {:confirm => "Voulez vous vraiment supprimer l'usager #{u.username}"}%>
    </h3>
  <% end %>
</div>