<div class="container">
  <div class="card">
    <h2><%=user.username%></h2>
    <h3>email: <%=user.email %></h3>
    <%= link_to t('delete'), user_path(user), method: :delete, class: 'btn btn-primary btn-lg', data: {confirm: "Voulez vous vraiment supprimer l'usager #{user.username}"} %>
    <%= link_to t('edit'),edit_user_path(user),class: 'btn btn-primary btn-lg' %>
  </div>
</div>