<div class="jumbotron">
  <div class="container">
    <h1>Bonjour!</h1>
    <p>Enregistrer vous pour commencer.</p>
    <p>
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>