/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require dataTables/jquery.dataTables
 *= require_self
 */
.bandeaux{
  background-color: #bdf00f;
}

.domain{
  background-color: white;
  border: 1px solid black;
}

.carte{
  background-color: #f2f2f2;
  box-shadow: 10px 12px 11px -4px rgba(0,0,0,0.12);
}

a{
  color: #59c0e3;
}

button:hover{
  background-color: #bdf00f;
  color: white;
}

.etat{
  border: 2px black solid;
  border-radius: 200px;
  margin-left: 30px;
  height: 25px;
  width: 25px;
}

.up{
  background-color: #7cc837;
}

.down{
  background-color: #c83737;
}

.update{
  background-color: #f0e84d;
} 

.liste-column{
  border: 2px solid black;
  width: 10%;
  height:300px;
  display: inline-block;
  overflow: hidden;
  margin-top: 0;
  list-style: none;
}

#list{
  display: none;
}

.loginInfo{
  float: right;
  padding:30px;
  display: inline-block;
  text-align: right;
}

table.DTCR_clonedTable.dataTable{
  position:absolute !important;
  background-color:rgba(255,255,255,0.7);
  z-index:202;
}
div.DTCR_pointer{
  width:1px;
  background-color:#0259C4;
  z-index:201;
  
}